[global]
   workgroup = WORKGROUP
   server role = standalone server
   map to guest = Bad User
   log file = /var/log/samba/log.%m
   max log size = 1000
   server min protocol = SMB2
   smb encrypt = desired
   vfs objects = acl_xattr
   map acl inherit = yes
   inherit permissions = yes

[{{ share_name }}]
   path = {{ share_path }}
   browseable = yes
   read only = no
   guest ok = no
   valid users = @{{ smb_group }}
   force group = {{ smb_group }}
   create mask = 0660
   directory mask = 2770
